div(id="modal-id" class="modal" role="alert")
	.modal__container
		.modal__header
			h1 Modal header content
		.modal__content
			p Modal content
		.modal__footer
			p Modal footer content

		a(href="#modal-id" class="modal__close js-modal-close")
			svg.icon.modal__close-icon
				use(xlink:href="#icon-close" xmlns:xlink="http://www.w3.org/1999/xlink")