extends pagewrapper

//- Override config.jade file
append page-config
	- var PageTitle = 'About Us | Dgraph team'
	- var PageClass = 'about'
	- var PageIntroClass = 'about'
	- var PageContentClass = 'about'

//- Begin
block partials
	//- include partials/modals/modal
	//- include partials/overlays/overlay

block page-intro
	.container
		.row
			.col-12.col-desktop-10.push-desktop-1.col-hd-8.push-hd-2
				header.page-intro__header
					h1.page-intro__title Who stands behind Dgraph?
					p.page-intro__lead Dgraph is built by a distributed team of 4 people working from different parts of the world.

block page-content

	.team-members
		.container
			.row
				.col-12.col-desktop-6
					.member
						.member__figure
							img(src="assets/images/about/team-manish.jpg", alt="Image of Manish Jain, Founder and CEO of Dgraph").member__image
							
							nav.social__nav.member__social
								ul.social__list
									li.social__item
										a(href="#").social__link
											svg.icon.social__icon.social__icon--linkedin
												use(xlink:href="#icon-linkedin" xmlns:xlink="http://www.w3.org/1999/xlink")
											| Manish Jain
									
									li.social__item
										a(href="#").social__link
											svg.icon.social__icon.social__icon--twitter
												use(xlink:href="#icon-twitter" xmlns:xlink="http://www.w3.org/1999/xlink")
											| @manishrjain

						.member__description
							h3.member__name Manish Jain
							h4.member__title Founder &amp; CEO
							p Manish is the Chief decision maker at DGraph. He got thrust into distributed systems right out of college, working on real time web indexing system at Google. He then lead various projects to consolidate and serve knowledge graph right behind web search.

							p Implementing GTD and Zero Waste practices, Manish is into efficient and minimalist living. He loves cycling, swimming and ultra light travelling.

				.col-12.col-desktop-6
					.member
						.member__figure
							img(src="assets/images/about/team-prashanth.jpg", alt="Image of Prashanth Koppula, COO at Dgraph").member__image
							
							nav.social__nav.member__social
								ul.social__list
									li.social__item
										a(href="#").social__link
											svg.icon.social__icon.social__icon--linkedin
												use(xlink:href="#icon-linkedin" xmlns:xlink="http://www.w3.org/1999/xlink")
											| Prashanth Koppula
									
									li.social__item
										a(href="#").social__link
											svg.icon.social__icon.social__icon--twitter
												use(xlink:href="#icon-twitter" xmlns:xlink="http://www.w3.org/1999/xlink")
											| @koppula

						.member__description
							h3.member__name Prashanth Koppula
							h4.member__title COO
							p Prashanth is responsible for all things operations and growth at DGraph. He enjoys wearing many hats and has extensive product experience. Most recently he led product at Google for web scale indexing technology such as Teragoogle as well as advertiser and publisher focused monetization products. 

							p With a love for sustainable architecture, he dreams of building his very own zero energy home. Other interests include squash, traveling, and Lego.

			.row
				.col-12.col-desktop-6
					.member
						.member__figure
							img(src="assets/images/about/team-ashwin.jpg", alt="Image of Ashwin Ramesh, Backend Engineer at Dgraph").member__image
							
							nav.social__nav.member__social
								ul.social__list
									li.social__item
										a(href="#").social__link
											svg.icon.social__icon.social__icon--linkedin
												use(xlink:href="#icon-linkedin" xmlns:xlink="http://www.w3.org/1999/xlink")
											| Ashwin Ramesh
									
									li.social__item
										a(href="#").social__link
											svg.icon.social__icon.social__icon--twitter
												use(xlink:href="#icon-twitter" xmlns:xlink="http://www.w3.org/1999/xlink")
											| @ashwin_rrr

						.member__description
							h3.member__name Ashwin Ramesh
							h4.member__title Backend Engineer
							p Ashwin did his undergrad in computer science at IIT Madras and likes working on distributed systems. 

							p He likes working out, hiking, swimming and everything adventurous. Loves travelling to new places and trying out new food.

				.col-12.col-desktop-6
					.member
						.member__figure
							img(src="assets/images/about/team-pawan.jpg", alt="Image of Pawan Rawal, Backend Engineer at Dgraph").member__image
							
							nav.social__nav.member__social
								ul.social__list
									li.social__item
										a(href="#").social__link
											svg.icon.social__icon.social__icon--linkedin
												use(xlink:href="#icon-linkedin" xmlns:xlink="http://www.w3.org/1999/xlink")
											| Pawan Rawal
									
									li.social__item
										a(href="#").social__link
											svg.icon.social__icon.social__icon--twitter
												use(xlink:href="#icon-twitter" xmlns:xlink="http://www.w3.org/1999/xlink")
											| @pawan_raw

						.member__description
							h3.member__name Pawan Rawal
							h4.member__title Backend Engineer
							p After graduating from IIT Delhi in 2014, Pawan worked in various startups understanding how the web works. 

							p His interest in distributed systems and application of concepts in Computer Science to solve real world problems led him to DGraph. In his free time, he likes to travel, do yoga, read and cook.
	
	.cta-wrapper.cta-wrapper--about
		.container
			.row
				.col-12
					.cta
						.cta__box
							h4.cta__title Download Dgraph
							p Slightly longer subtitle explaining Dgraph download. Should span in a couple of rows. Slightly longer subtitle explaining Dgraph download. Should span in a couple of rows.
							a(href="#").button.button--white.button--jumbo.cta__button Download Dgraph

						.cta__next
							h4.cta__title.no-margin Next section:
							h4.cta__title #[a(href="careers.html") Job Openings]
							p Passionate about solving challenging problems? 
							p Prefer an honest, open and transparent culture?
							p You will love it here. 
									a(href="careers.html").link-arrow.cta__next-link
										| Check out open positions
										svg.icon
												use(xlink:href="#icon-chevron-right" xmlns:xlink="http://www.w3.org/1999/xlink")

	// /.cta

block additional-scripts
	//- include partials/path/to/additional/script.js