extends pagewrapper

//- Override config.jade file
append page-config
	- var PageTitle = 'Dgraph Blog | Opinions and shared thoughts on inovative usage of graph database.'
	- var PageClass = 'blog'
	- var PageIntroClass = 'blog'
	- var PageContentClass = 'blog'

//- Begin
block partials
	//- include partials/modals/modal
	//- include partials/overlays/overlay

block page-intro
	.container
		.row
			.col-12.col-desktop-10.push-desktop-1.col-hd-8.push-hd-2
				header.page-intro__header
					h1.page-intro__title.page-intro__title--blog Opinions and shared thoughts on inovative usage of graph database.
					
					nav.blog-nav
						.blog-nav__item.blog-nav__item--large
							form(action="").blog-nav__form
								input(type="text" placeholder="Search blog").blog-nav__input
						
						.blog-nav__item
							a(href="#blog-labels").blog-nav__dropdown.js-granular-trigger
								svg.icon.icon-label
									use(xlink:href="#icon-label" xmlns:xlink="http://www.w3.org/1999/xlink")
								| Labels
								svg.icon.icon-dropdown
									use(xlink:href="#icon-dropdown" xmlns:xlink="http://www.w3.org/1999/xlink")
						
						.blog-nav__item
							a(href="#blog-archive").blog-nav__dropdown.js-granular-trigger
								svg.icon.icon-folder
									use(xlink:href="#icon-folder" xmlns:xlink="http://www.w3.org/1999/xlink")
								| Archive
								svg.icon.icon-dropdown.js-granular-trigger
									use(xlink:href="#icon-dropdown" xmlns:xlink="http://www.w3.org/1999/xlink")
					
					// /.blog-nav

					.blog-nav-granular
						#blog-labels.blog-nav-granular__item
							ul.blog-tag__list
								li.blog-tag__item
									a(href="#").blog-tag Graph
								li.blog-tag__item
									a(href="#").blog-tag Big Data
								li.blog-tag__item
									a(href="#").blog-tag Database
								li.blog-tag__item
									a(href="#").blog-tag Release Update
								li.blog-tag__item
									a(href="#").blog-tag Dgraph Update
								li.blog-tag__item
									a(href="#").blog-tag knowledge base
								li.blog-tag__item
									a(href="#").blog-tag Q/A
								li.blog-tag__item
									a(href="#").blog-tag Tip
								li.blog-tag__item
									a(href="#").blog-tag Big Data
								li.blog-tag__item
									a(href="#").blog-tag Bug Fix
								li.blog-tag__item
									a(href="#").blog-tag Graph
								li.blog-tag__item
									a(href="#").blog-tag Fun
								li.blog-tag__item
									a(href="#").blog-tag Database
								li.blog-tag__item
									a(href="#").blog-tag Tip
								li.blog-tag__item
									a(href="#").blog-tag Dgraph Update
								li.blog-tag__item
									a(href="#").blog-tag Bug Fix
								li.blog-tag__item
									a(href="#").blog-tag Q/A
								li.blog-tag__item
									a(href="#").blog-tag Release Update
								li.blog-tag__item
									a(href="#").blog-tag Fun
								li.blog-tag__item
									a(href="#").blog-tag Knowledge base

						// /.blog-nav-granular__item

						#blog-archive.blog-nav-granular__item
							div.blog-nav-granular__year
								h6 2016
								ul.blog-tag__list
									li.blog-tag__item
										a(href="#").blog-tag Jan.
									li.blog-tag__item
										a(href="#").blog-tag Feb.
									li.blog-tag__item
										a(href="#").blog-tag Mar.
									li.blog-tag__item
										a(href="#").blog-tag Apr.
									li.blog-tag__item
										a(href="#").blog-tag May
									li.blog-tag__item
										a(href="#").blog-tag Jun.

							div.blog-nav-granular__year
								h6 2015
								ul.blog-tag__list
									li.blog-tag__item
										a(href="#").blog-tag Jan.
									li.blog-tag__item
										a(href="#").blog-tag Feb.
									li.blog-tag__item
										a(href="#").blog-tag Mar.
									li.blog-tag__item
										a(href="#").blog-tag Apr.
									li.blog-tag__item
										a(href="#").blog-tag May
									li.blog-tag__item
										a(href="#").blog-tag Jun.
									li.blog-tag__item
										a(href="#").blog-tag Jul.
									li.blog-tag__item
										a(href="#").blog-tag Aug.
									li.blog-tag__item
										a(href="#").blog-tag Sept.
									li.blog-tag__item
										a(href="#").blog-tag Oct.
									li.blog-tag__item
										a(href="#").blog-tag Nov.
									li.blog-tag__item
										a(href="#").blog-tag Dec.
				
						// /.blog-nav-granular__item

					// /.blog-nav-granular

block page-content
	.container
		.row
			.col-12.col-desktop-10.push-desktop-1.col-hd-8.push-hd-2

				ul.article__list
					li.article__item
						.article__meta
							span.article__meta-item.article__date 25.04.2016 
							span.article__meta-item.article__author by Manish Jain
						h3.article__title #[a(href="blog-article.html") What is Dgraph and why it was created]
						p.article__summary Short description, no more then one line of text.
						ul.blog-tag__list
							li.blog-tag__item
								a(href="#").blog-tag Graph
							li.blog-tag__item
								a(href="#").blog-tag Big Data
							li.blog-tag__item
								a(href="#").blog-tag Database
							li.blog-tag__item
								a(href="#").blog-tag Hot

					// /.article__item

					li.article__item
						.article__meta
							span.article__meta-item.article__date 22.04.2016 
							span.article__meta-item.article__author by Prashanth Koppula
						h3.article__title #[a(href="blog-article.html") Official Release: 3 Essentials of Dgraph 3.0, from Scale to Productivity &amp; Deployment]
						p.article__summary Short description, no more then one line of text.
						ul.blog-tag__list
							li.blog-tag__item
								a(href="#").blog-tag Release Update
							li.blog-tag__item
								a(href="#").blog-tag v3.0

					// /.article__item

					li.article__item
						.article__meta
							span.article__meta-item.article__date 20.04.2016 
							span.article__meta-item.article__author by Prashanth Koppula
						h3.article__title #[a(href="blog-article.html") Huge update is coming, like right now]
						p.article__summary Short description, no more then one line of text.
						ul.blog-tag__list
							li.blog-tag__item
								a(href="#").blog-tag Dgraph Update
							li.blog-tag__item
								a(href="#").blog-tag Performance

					// /.article__item

					li.article__item
						.article__meta
							span.article__meta-item.article__date 15.03.2016 
							span.article__meta-item.article__author by Prashanth Koppula
						h3.article__title #[a(href="blog-article.html") Answering All Your Questions: Dgraph Knowledge Base]
						p.article__summary Short description, no more then one line of text.
						ul.blog-tag__list
							li.blog-tag__item
								a(href="#").blog-tag Knowledge Base
							li.blog-tag__item
								a(href="#").blog-tag Q/A

					// /.article__item

					li.article__item
						.article__meta
							span.article__meta-item.article__date 10.03.2016 
							span.article__meta-item.article__author by Manish Jain
						h3.article__title #[a(href="blog-article.html") Stop Fraud Rings in Their Tracks with Dgraph]
						p.article__summary Short description, no more then one line of text.
						ul.blog-tag__list
							li.blog-tag__item
								a(href="#").blog-tag Tip
							li.blog-tag__item
								a(href="#").blog-tag Fun

					// /.article__item

					li.article__item
						.article__meta
							span.article__meta-item.article__date 25.04.2016 
							span.article__meta-item.article__author by Manish Jain
						h3.article__title #[a(href="blog-article.html") What is Dgraph and why it was created]
						p.article__summary Short description, no more then one line of text.
						ul.blog-tag__list
							li.blog-tag__item
								a(href="#").blog-tag Graph
							li.blog-tag__item
								a(href="#").blog-tag Big Data
							li.blog-tag__item
								a(href="#").blog-tag Database
							li.blog-tag__item
								a(href="#").blog-tag Hot

					// /.article__item

					li.article__item
						.article__meta
							span.article__meta-item.article__date 22.04.2016 
							span.article__meta-item.article__author by Prashanth Koppula
						h3.article__title #[a(href="blog-article.html") Official Release: 3 Essentials of Dgraph 3.0, from Scale to Productivity &amp; Deployment]
						p.article__summary Short description, no more then one line of text.
						ul.blog-tag__list
							li.blog-tag__item
								a(href="#").blog-tag Release Update
							li.blog-tag__item
								a(href="#").blog-tag v3.0

					// /.article__item

					li.article__item
						.article__meta
							span.article__meta-item.article__date 20.04.2016 
							span.article__meta-item.article__author by Prashanth Koppula
						h3.article__title #[a(href="blog-article.html") Huge update is coming, like right now]
						p.article__summary Short description, no more then one line of text.
						ul.blog-tag__list
							li.blog-tag__item
								a(href="#").blog-tag Dgraph Update
							li.blog-tag__item
								a(href="#").blog-tag Performance

					// /.article__item

					li.article__item
						.article__meta
							span.article__meta-item.article__date 15.03.2016 
							span.article__meta-item.article__author by Prashanth Koppula
						h3.article__title #[a(href="blog-article.html") Answering All Your Questions: Dgraph Knowledge Base]
						p.article__summary Short description, no more then one line of text.
						ul.blog-tag__list
							li.blog-tag__item
								a(href="#").blog-tag Knowledge Base
							li.blog-tag__item
								a(href="#").blog-tag Q/A

					// /.article__item

					li.article__item
						.article__meta
							span.article__meta-item.article__date 10.03.2016 
							span.article__meta-item.article__author by Manish Jain
						h3.article__title #[a(href="blog-article.html") Stop Fraud Rings in Their Tracks with Dgraph]
						p.article__summary Short description, no more then one line of text.
						ul.blog-tag__list
							li.blog-tag__item
								a(href="#").blog-tag Tip
							li.blog-tag__item
								a(href="#").blog-tag Fun

					// /.article__item
				
				// /.article__list


block additional-scripts
	//- include partials/path/to/additional/script.js