extends pagewrapper

//- Override config.jade file
append page-config
	- var PageTitle = 'Work at Dgraph, you will love it here.'
	- var PageClass = 'career'
	- var PageIntroClass = 'career'
	- var PageContentClass = 'career'

//- Begin
block partials
	//- include partials/modals/modal
	//- include partials/overlays/overlay

block page-intro
	.container
		.row
			.col-12.col-desktop-10.push-desktop-1.col-hd-8.push-hd-2
				header.page-intro__header
					h1.page-intro__title Come and join our team
					p.page-intro__lead Passionate about solving challenging problems? Prefer an honest, open and transparent culture? You will love it here.

block page-content
	.career-perk__wrapper
		.container
			.row
				.col-12
					ul.career-perk__list
						li.career-perk__item
							svg.icon.career-perk__icon
								use(xlink:href="#icon-perk-01" xmlns:xlink="http://www.w3.org/1999/xlink")
							h5.career-perk__title Open and Transparent
							p.career-perk__description 
								| See our 
								a(href="https://docs.google.com/spreadsheets/d/1LTYPzXO7kCHaacYs_sTYyeX9MoYNH1nsI6Arw1N-HL8/edit" target="_blank").link-alias salary and equity formula.
						
						li.career-perk__item
							svg.icon.career-perk__icon
								use(xlink:href="#icon-perk-02" xmlns:xlink="http://www.w3.org/1999/xlink")
							h5.career-perk__title Get your own Macbook Pro
							p.career-perk__description 
								| Or any other laptop of your choice.
						
						li.career-perk__item
							svg.icon.career-perk__icon
								use(xlink:href="#icon-perk-03" xmlns:xlink="http://www.w3.org/1999/xlink")
							h5.career-perk__title Custom workstation
							p.career-perk__description $2500 towards a workstation and desk of your choice
						
						li.career-perk__item
							svg.icon.career-perk__icon
								use(xlink:href="#icon-perk-04" xmlns:xlink="http://www.w3.org/1999/xlink")
							h5.career-perk__title Kindle for every team member
							p.career-perk__description Unlimited books and read only fridays.
						
						li.career-perk__item
							svg.icon.career-perk__icon
								use(xlink:href="#icon-perk-05" xmlns:xlink="http://www.w3.org/1999/xlink")
							h5.career-perk__title Medical coverage
							p.career-perk__description Medical coverage for you and your dependents.
						
						li.career-perk__item
							svg.icon.career-perk__icon
								use(xlink:href="#icon-perk-06" xmlns:xlink="http://www.w3.org/1999/xlink")
							h5.career-perk__title Fitness and Sports
							p.career-perk__description If you sweat, we'll pay for it
						
						li.career-perk__item
							svg.icon.career-perk__icon
								use(xlink:href="#icon-perk-07" xmlns:xlink="http://www.w3.org/1999/xlink")
							h5.career-perk__title Work anytime, anywhere
							p.career-perk__description We'll cover your co-working space costs
						
						li.career-perk__item
							svg.icon.career-perk__icon
								use(xlink:href="#icon-perk-08" xmlns:xlink="http://www.w3.org/1999/xlink")
							h5.career-perk__title Flexible time off
							p.career-perk__description Completely self-manage when you need to take some time off.

	.job-offer__wrapper
		.container
			.row
				.col-12
					header.section-header
						h3.section-header__title Job offerings
			
			.job-offer
				.row
					.col-12.col-tablet-6
						h3.job-offer__title Backend engineer
						p We are looking for outstanding backend engineers to join our team. As part of the team, you would be responsible for the design, architecture and implementation of our native and distributed open source graph database, Dgraph.

						p If this sounds interesting to you, drop us a mail at #[a(href="mailto:join@dgraph.io") join@dgraph.io].

					.col-12.col-tablet-6
						.job-offer__requirements
						h5.job-offer__subtitle Requirements:
						ul.job-offer__requirements-list
							li.job-offer__requirements-item 3+ yrs of backend engineering experience.
							li.job-offer__requirements-item Experience developing distributed systems or databases.
							li.job-offer__requirements-item Experience building applications in C, C++ or Go.

						h5.job-offer__subtitle Nice to have:
						ul.job-offer__requirements-list
							li.job-offer__requirements-item Previous experience at Google, Facebook, Twitter or Dropbox. Check out our #[a(href="https://docs.google.com/spreadsheets/d/1LTYPzXO7kCHaacYs_sTYyeX9MoYNH1nsI6Arw1N-HL8/edit").link-alias Samurai equity multiplier].
							li.job-offer__requirements-item Bachelor's degree in Computer Science.
							li.job-offer__requirements-item Passionate about working on and contributing to Open Source.

	.cta-wrapper.cta-wrapper--career
		.container
			.row
				.col-12
					.cta
						.cta__box
							h4.cta__title Download Dgraph
							p Install Dgraph binaries quickly in a single step using this command if you are on Linux/Mac: <code> curl https://get.dgraph.io | bash</code> For other methods of installing Dgraph check out our documentation.
							
							a(href="https://wiki.dgraph.io/Beginners_Guide#Installation" target="_blank").button.button--white.button--jumbo.cta__button Official Documentation

						.cta__next
							h4.cta__title.no-margin Next section:
							h4.cta__title #[a(href="contact.html") Contact Us]
							p Have a question? Feel free to reach us.
							a(href="contact.html").link-arrow.cta__next-link
								| Visit our Contact page
								svg.icon
										use(xlink:href="#icon-chevron-right" xmlns:xlink="http://www.w3.org/1999/xlink")

	// /.cta

block additional-scripts
	//- include partials/path/to/additional/script.js
