//- This file will hold variables.
//- They need to be defined as CamelCase.

//- <head>
- var PageTitle = 'Dgraph'
- var MetaDescription = 'Dgraph - an open source, low latency, high throughput, native and distributed graph database.'
- var MetaAuthor = 'Dgraph Labs'
//- Google Fonts (enable/disable)
- var GoogleFont = 'Work+Sans:400,800,700,500'

//- <body>
- var PageClass = 'page'
- var PageIntroClass = 'intro'
- var PageContentClass = 'content'

//- alternative <body> elements
- var MainHeader = true
- var AlternateHeader = false

- var jQuery = true //- Enable jQuery
- var GoogleAnalytics = true //- Enable Google Analytics
