extends pagewrapper

//- Override config.jade file
append page-config
	- var PageTitle = 'Dgraph: Graph database for production environment'
	- var PageClass = 'homepage'
	- var PageIntroClass = 'homepage'
	- var PageContentClass = 'homepage'
	- var MainHeader = false
	- var AlternateHeader = true

//- Begin
block additional-styles
	// CSS styles for Demo section
	//- link(rel="stylesheet" href="assets/css/demo-section/bootstrap.css" type="text/css")
	//- link(rel="stylesheet" href="assets/css/demo-section/color-red-medium.css" type="text/css")
	//- link(rel="stylesheet" href="assets/css/demo-section/html5-boilerplate-main.css")
	//- link(rel="stylesheet" href="assets/css/demo-section/main.css")
	// CSS styles are modified and implemented in `vendor/demo-section/_demo-section.less`

	// Fonts for demo section
	link(href="assets/fonts/demo-section/font-awesome.min.css" rel="stylesheet" type="text/css")

block partials
	//- include partials/modals/modal
	//- include partials/overlays/overlay

block page-intro
	.container
		.row
			.col-12.col-desktop-4.hide-mobile.show-desktop
				figure.page-intro__figure.page-intro__figure--logo
					a(href="index.html")
						img(src="assets/images/logo.svg", alt="Dgraph logo – Graph database for web-scale production environment.")
			.col-12.col-desktop-7
				header.page-intro__header
					h1.page-intro__title.page-intro__title--emphasized Graph database for <br/> web-scale production environment.
					p.page-intro__lead Meet Dgraph &mdash;  an open source, scalable, distributed, highly available and fast graph database, designed from ground up to be run in production.

block page-content
	.demo__wrapper
		.bolt-image__wrapper
			.bolt-image.bolt-image--top-front
			.bolt-image.bolt-image--top-back
		// /.bolt-image__wrapper--top

		.demo
			.container
				.row
					.col-12
						header.section-header
							h2.section-header__title Distributed joins are a cakewalk
							p.section-header__lead Dgraph can run complex distributed queries involving filters, string matching, pagination, sorting and geolocations blazingly fast.

						.demo-console
							header.demo-console__header
								h5.demo-console__title Play with 21M facts from <a href="https://developers.google.com/freebase/" target="_blank">Freebase Film Data</a> loaded up on demo Dgraph instance, via <a href="https://wiki.dgraph.io/Query_Language" target="_blank">GraphQL+-</a> in real time.

							include partials/demo-section/demo.html

						// /.demo-console

						.dg-features
							header.section-header
								h3.section-header__title Why use Dgraph?

							ul.dg-features__list
								li.dg-features__item
									.dg-features__figure
										img(src="assets/images/homepage/feature-01.svg", alt="Image for low latency, high throughout feature").dg-features__image
									.dg-features__description
										h4.dg-features__title Low Latency, High Throughout
										p Storage layer of Dgraph is designed for efficient retrieval, it offers low enough latency to be serving real time user queries, over terabytes of structured data.
								li.dg-features__item
									.dg-features__figure
										img(src="assets/images/homepage/feature-02.svg", alt="Image for distributed and scalable feature").dg-features__image
									.dg-features__description
										h4.dg-features__title Distributed and Scalable
										p Easily scale to multiple machines, or datacenters. Dgraph's sharded storage and query processing were specifically designed to minimize the number of network calls.
								li.dg-features__item
									.dg-features__figure
										img(src="assets/images/homepage/feature-03.svg", alt="Image for open source feature").dg-features__image
									.dg-features__description
										h4.dg-features__title Open Source
										p Written entirely in Go, Dgraph is available under a very liberal Apache License 2.0.
							// /.demo-features

		// /.demo

		.bolt-image__wrapper
			.bolt-image.bolt-image--bottom-front
			.bolt-image.bolt-image--bottom-back
		// /.bolt-image__wrapper--bottom

	// /.demo__wrapper
	.usage
		.container
			.row
				.col-12
					header.section-header
						h2.section-header__title Use Cases

					.usage-carousel
						nav.usage-carousel__nav
							.usage-carousel__window

							.usage-carousel__controls
								a(href="javascript:;")#previous-slide.usage-carousel__control-up
									svg.icon
										use(xlink:href="#icon-chevron-up" xmlns:xlink="http://www.w3.org/1999/	xlink")

								a(href="javascript:;")#next-slide.usage-carousel__control-down.js-usage-carousel-down
									svg.icon
										use(xlink:href="#icon-chevron-down" xmlns:xlink="http://www.w3.org/1999/	xlink")

							ul.usage-carousel__list
								li.usage-carousel__item Movie Directory
								li.usage-carousel__item Recommendation Engine
								li.usage-carousel__item.is-active Social Network

					.result__list
						.result__item
							img(src="assets/images/homepage/slide-01.png", alt="Use case scenario for movies.")
						.result__item
							img(src="assets/images/homepage/slide-02.png", alt="Use case scenario for recommendation engine.")
						.result__item.is-active
							img(src="assets/images/homepage/slide-03.png", alt="Use case scenario for book club.")
	// /.use-case

	.media
		.container
			.row
				.col-12
					header.section-header
						h2.section-header__title Dgraph in the News
						p.section-header__lead
					.media-inline
						.media-inline__image
							a(href="https://hn.algolia.com/?query=dgraph&sort=byPopularity&prefix&page=0&dateRange=all&type=story" target="_blank"): img(src="assets/images/in-news/hn.jpg", alt="Hacker News")
						.media-inline__body
							h4.cta__title Dgraph in Hacker News
							ul.media__list
								li.media__item: a(href="https://news.ycombinator.com/item?id=11322444" target="_blank").media__link  DGraph – Scalable, Distributed, Low-Latency, High-Throughput Graph Database
								li.media__item: a(href="https://news.ycombinator.com/item?id=11934087" target="_blank").media__link  Dgraph is a next generation graph database with GraphQL as the query language
								li.media__item: a(href="https://news.ycombinator.com/item?id=11944969" target="_blank").media__link  Scaling nodes in a Dgraph cluster
					// /.media-inline
					.media-logo
						.media-logo__row
							.media-logo__item
								a(href="http://www.afr.com/technology/cannonbrookes-blackbird-bain-back-new-migrants-graph-startup-20160517-goxglw" target="_blank")
									img(src="assets/images/in-news/fr.jpg", alt="Financial Review")
							.media-logo__item
								a(href="http://www.startupsmart.com.au/advice/funding/two-failed-startups-later-ex-google-employee-secures-1-45-million-in-funding-and-backing-of-atlassians-co-founder/" target="_blank")
									img(src="assets/images/in-news/ss.jpg", alt="Startup Smart")
					// /.media-logo
					
	// /.media

	.cta-wrapper.cta-wrapper--homepage
		.container
			.row
				.col-12
					.cta
						.cta__box
							h4.cta__title Download Dgraph
							p Install Dgraph binaries quickly in a single step using this command if you are on Linux/Mac: <code> curl https://get.dgraph.io | bash</code> For other methods of installing Dgraph check out our documentation.

							a(href="https://wiki.dgraph.io/Beginners_Guide#Installation" target="_blank").button.button--white.button--jumbo.cta__button Official Documentation

						.cta__more
							h4.cta__title More information about Dgraph
							ul.cta__more-list
								li.cta__more-item
									a(href="https://github.com/dgraph-io/dgraph/" target="_blank").cta__more-link.cta__more-link--github.link-alias GitHub
								li.cta__more-item
									a(href="https://discuss.dgraph.io" target="_blank").cta__more-link.cta__more-link--discourse.link-alias Discourse
								li.cta__more-item
									a(href="https://slack.dgraph.io/" target="_blank").cta__more-link.cta__more-link--slack.link-alias Slack
								li.cta__more-item
									a(href="https://open.dgraph.io" target="_blank").cta__more-link.cta__more-link--blog.link-alias Blog
								li.cta__more-item
									a(href="https://wiki.dgraph.io" target="_blank").cta__more-link.cta__more-link--wiki.link-alias Documentation

	// /.cta

block additional-scripts
	// JavaScript files for Demo section

	script(src="assets/js/demo-section/angular/angular.min.js")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.2/ace.js")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.2/ext-language_tools.js")
	script(src="assets/js/demo-section/angular-ui-ace/ui-ace.min.js")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.14.3/ui-bootstrap-tpls.min.js")
	script(src="assets/js/demo-section/typeahead.min.js")
	script(src="assets/js/demo-section/app.min.js")
	script(type="text/javascript" src="assets/js/demo-section/jquery.appear.min.js")
