extends pagewrapper

//- Override config.jade file
append page-config
	- var PageTitle = 'Dgraph | Scalable, Distributed, Low Latency, High Throughput Graph Database.'
	- var PageClass = 'homepage'
	- var PageIntroClass = 'homepage'
	- var PageContentClass = 'homepage'
	- var MainHeader = false
	- var AlternateHeader = true

//- Begin
block additional-styles
	// CSS styles for Demo section
	//- link(rel="stylesheet" href="assets/css/demo-section/bootstrap.css" type="text/css")
	//- link(rel="stylesheet" href="assets/css/demo-section/color-red-medium.css" type="text/css")
	//- link(rel="stylesheet" href="assets/css/demo-section/html5-boilerplate-main.css")
	//- link(rel="stylesheet" href="assets/css/demo-section/main.css")
	// CSS styles are modified and implemented in `vendor/demo-section/_demo-section.less`

block partials
	//- include partials/modals/modal
	//- include partials/overlays/overlay

block page-intro
	.container
		.row
			.col-12.col-desktop-4.hide-mobile.show-desktop
				figure.page-intro__figure.page-intro__figure--logo
					img(src="assets/images/logo.svg", alt="Dgraph logo – Scalable, Distributed, Low Latency, High Throughput Graph Database.")
			.col-12.col-desktop-7
				header.page-intro__header
					h1.page-intro__title.page-intro__title--emphasized Scalable, Distributed, Low Latency, High Throughput Graph Database.
					p.page-intro__lead Building a social network or a recommendation engine, Dgraph will suit your needs.

block page-content
	.demo__wrapper
		.bolt-image__wrapper
			.bolt-image.bolt-image--top-front
			.bolt-image.bolt-image--top-back
		// /.bolt-image__wrapper--top

		.demo
			.container
				.row
					.col-12
						header.section-header
							h2.section-header__title Search is now better than ever
							p.section-header__lead Play with 21M facts from Freebase Film Data loaded up on demo Dgraph instance, via GraphQL in real time.
						
						.demo-console
							header.demo-console__header
								h5.demo-console__title Play with 21M facts from <a href="#">Freebase Film Data</a> loaded up on demo Dgraph instance, via GraphQL in real time.	
							img(src="assets/images/homepage/demo-placeholder.png", alt="FPO").demo-console__screenshot

							include partials/demo-section/demo.html

						// /.demo-console

						.dg-features
							header.section-header
								h3.section-header__title Why use Dgraph?

							ul.dg-features__list
								li.dg-features__item
									.dg-features__figure
										img(src="assets/images/homepage/feature-01.svg", alt="Image for low latency, high throughout feature").dg-features__image
									.dg-features__description
										h4.dg-features__title Low Latency, High Throughout
										p Storage layer of DGraph is designed for efficient retrieval, it offers low enough latency to be serving real time user queries, over terabytes of structured data.
								li.dg-features__item
									.dg-features__figure
										img(src="assets/images/homepage/feature-02.svg", alt="Image for distributed and scalable feature").dg-features__image
									.dg-features__description
										h4.dg-features__title Distributed and Scalable
										p Easily scale to multiple machines, or datacenters. DGraph's sharded storage and query processing were specifically designed to minimize the number of network calls.
								li.dg-features__item
									.dg-features__figure
										img(src="assets/images/homepage/feature-03.svg", alt="Image for open source feature").dg-features__image
									.dg-features__description
										h4.dg-features__title Open Source
										p Written entirely in Go language, DGraph is available under a very liberal Apache License 2.0.
							// /.demo-features
				
		// /.demo

		.bolt-image__wrapper
			.bolt-image.bolt-image--bottom-front
			.bolt-image.bolt-image--bottom-back
		// /.bolt-image__wrapper--bottom

	// /.demo__wrapper
	.usage
		.container
			.row
				.col-12
					header.section-header
						h2.section-header__title Use Cases
						p.section-header__lead See what the world is saying right now about the topics that matter to you, with results that are up-to-the-minute and personalized.
					
					.usage-carousel
						nav.usage-carousel__nav
							.usage-carousel__window
								svg.icon
									use(xlink:href="#icon-loupe" xmlns:xlink="http://www.w3.org/1999/	xlink")
							
							.usage-carousel__controls
								a(href="javascript:;")#previous-slide.usage-carousel__control-up
									svg.icon
										use(xlink:href="#icon-chevron-up" xmlns:xlink="http://www.w3.org/1999/	xlink")

								a(href="javascript:;")#next-slide.usage-carousel__control-down.js-usage-carousel-down
									svg.icon
										use(xlink:href="#icon-chevron-down" xmlns:xlink="http://www.w3.org/1999/	xlink")

							ul.usage-carousel__list
								li.usage-carousel__item File Search
								li.usage-carousel__item LinkedIn Search
								li.usage-carousel__item.is-active French Actors
					
					.result__list
						.result__item
							img(src="assets/images/homepage/test-slide-01.png", alt="")
						.result__item
							img(src="assets/images/homepage/test-slide-02.png", alt="")
						.result__item.is-active
							img(src="assets/images/homepage/test-slide-01.png", alt="")
	// /.use-case

	.cta-wrapper.cta-wrapper--homepage
		.container
			.row
				.col-12
					.cta
						.cta__box
							h4.cta__title Download Dgraph
							p Slightly longer subtitle explaining Dgraph download. Should span in a couple of rows. Slightly longer subtitle explaining Dgraph download. Should span in a couple of rows.
							a(href="https://github.com/dgraph-io/dgraph/" target="_blank").button.button--white.button--jumbo.cta__button Download Dgraph

						.cta__more
							h4.cta__title More information about Dgraph
							ul.cta__more-list
								li.cta__more-item
									a(href="https://github.com/dgraph-io/dgraph/" target="_blank").cta__more-link.cta__more-link--github.link-alias GitHub
								li.cta__more-item
									a(href="https://discuss.dgraph.io" target="_blank").cta__more-link.cta__more-link--discourse.link-alias Discourse
								li.cta__more-item
									a(href="http://slack.dgraph.io/" target="_blank").cta__more-link.cta__more-link--slack.link-alias Slack
								li.cta__more-item
									a(href="blog.html").cta__more-link.cta__more-link--blog Dgraph’s blog
								li.cta__more-item
									a(href="https://wiki.dgraph.io" target="_blank").cta__more-link.cta__more-link--wiki.link-alias Dgraph Wiki

	// /.cta

block additional-scripts
	// JavaScript files for Demo section

	script(src="assets/js/demo-section/angular/angular.js")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.2/ace.js")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.2/ext-language_tools.js")
	script(src="assets/js/demo-section/angular-ui-ace/ui-ace.min.js")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.14.3/ui-bootstrap-tpls.min.js")
	script(src="assets/js/demo-section/typeahead.js")
	script(src="assets/js/demo-section/app.js")
	script(type="text/javascript" src="assets/js/demo-section/jquery.appear.js")