#overlay-id.js-overlay.overlay
	a(href="#overlay-id" class="overlay-close js-overlay-close")
		svg.icon.overlay-close-icon
			use(xlink:href="#icon-close" xmlns:xlink="http://www.w3.org/1999/xlink")
	.overlay-content
		h1 Overlay content.