/* ===========================================
   Header styling
   =========================================== */

.page-header {
	position: relative;

	&--alternate {
		margin-top: 0;
		@media screen and (min-width: @desktop-breakpoint) {
			margin-top: 70px;
		}
	}
}


.page-logo {
	.hide-text();
	padding: 27px 0;
	line-height: 1;
	display: inline-block;
	
	img {
		display: block;
	}
}

.page-nav {
	.clearfix();

	&__list {
		.clearfix();
		list-style: none;
		margin: 0;
		padding: 27px 0;
		float: right;
		@media screen and (max-width: @desktop-breakpoint) {
			padding: 0;
			float: none;
			text-align: center;
			display: none;
			background: fade(@color-brand-secondary, 90%);
			padding-bottom: 15px;
			margin-left: -15px;
			margin-right: -15px;
		}

		&--alternate {
			float: none;
		}
	}

	&__item {
		margin: 0;
		padding: 0 10px;
		display: block;
		line-height: 1;
		float: left;
		&:first-child {
			padding-left: 0;
		}
		&:last-child {
			padding-right: 0;
		}

		@media screen and (max-width: @desktop-breakpoint) {
			border-top: 1px dotted #dedddc;
			float: none;
			padding: 0;
		}
	}

	&__link {
		.font-size(14);
		font-weight: @font-weight-extra-bold;
		text-transform: uppercase;
		letter-spacing: .035em;
		color: @color-coal;
		padding: 10px 0;
		display: block;
	}

	iframe {
		position: relative;
		top: 3px;
	}
}

.is-visible {
	display: block !important;
}

.page-nav-button {
	.font-size(13);
	letter-spacing: .05em;
	text-transform: uppercase;
	border-width: 2px;
	border-color: @color-white;
	position: absolute;
	right: 15px;
	top: 25px;
	@media screen and (min-width: @desktop-breakpoint) {
		display: none;
	}
	@media screen and (max-width: 400px) {
		top: 22px;
	}
}