/* ===========================================
   Header styling
   =========================================== */

.page-header {
	position: relative;
	z-index: 20;
	
	&--alternate {
		margin-top: 0;
		@media screen and (min-width: @desktop-breakpoint) {
			margin-top: 100px;
		}
	}
}

.page-logo {
	.hide-text();
	padding-top: 30px;
	line-height: 1;
	display: inline-block;
	position: relative;
	z-index: 22;
	@media screen and (max-width: @desktop-breakpoint) {
		padding: 15px 0;
	}
			
	img {
		display: block;
		max-width: 100%;
		@media screen and (max-width: @desktop-breakpoint) {
			max-width: 150px;
		}		
	}
}

.page-nav {
	.clearfix();

	&__list {
		.clearfix();
		list-style: none;
		margin: 0;
		padding: 47px 0 0;
		float: right;
		@media screen and (max-width: @desktop-breakpoint) {
			text-align: center;
			padding: 130px 0 15px;
			background: fade(@color-white, 90%);
			display: none;
			float: none;
			position: absolute;
			top: -140px;
			left: -200px;
			right: -200px;
			z-index: 21;
		}

		&--alternate {
			float: none;
			padding: 0;
		}
	}

	&__item {
		margin: 0;
		padding: 0 10px;
		display: block;
		line-height: 1;
		float: left;
		&:first-child {
			padding-left: 0;
		}
		&:last-child {
			padding-right: 0;
		}
		@media screen and (max-width: @desktop-breakpoint) {
			border-top: 1px dotted #dedddc;
			float: none;
		}
	}

	&__link {
		.font-size(14);
		font-weight: @font-weight-extra-bold;
		text-transform: uppercase;
		letter-spacing: .035em;
		color: @color-coal;
		padding: 10px 0;
		display: block;
		@media screen and (max-width: @desktop-breakpoint) {
			padding: 20px 0;
		}
				
	}

	iframe {
		position: relative;
		top: 3px;
		@media screen and (max-width: @desktop-breakpoint) {
			top: 0;
			margin: 15px 0 0;
		}
	}
}

.is-visible {
	display: block !important;
}

.page-nav-button {
	.font-size(13);
	letter-spacing: .05em;
	text-transform: uppercase;
	font-weight: @font-weight-bold;
	position: absolute;
	z-index: 22;
	right: 15px;
	top: 27px;
	background-color: @color-text;
	@media screen and (min-width: @desktop-breakpoint) {
		display: none;
	}
}