/* ===========================================
 * Button styling
 * =========================================== */

.button {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  touch-action: manipulation;
  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  background-color: @button-bg;
  color: @button-color;
  border: 1px solid transparent;
  border-radius: @border-radius-small;
  white-space: nowrap;
  padding: @button-padding-base;

  font-weight: @button-font-weight;
  &:hover,
  &:focus {
    color: @button-color;
    background-color: darken(@color-brand-primary, 10%);
    text-decoration: none;
  }
  &:active {
    color: @button-color;
    text-decoration: none;
  }
}

// Button white
.button--white {
  border-radius: @border-radius-base;
  background-color: @color-white;
  color: @color-brand-primary;
  font-weight: @font-weight-bold;
  &:hover,
  &:focus {
    background-color: @color-white;
    color: darken(@color-brand-primary, 10%);
  }
  &:active {
    color: @color-brand-primary;
  }
}

// Button block
.button--jumbo {
  display: block;
  padding: 30px 0;
  box-shadow: 0 0 15px rgba(0,0,0,.15);
  &:hover,
  &:focus {
    box-shadow: 0 0 30px rgba(0,0,0,.25);
  }
  &:active {
    box-shadow: 0 0 15px rgba(0,0,0,.15);
  }
  @media screen and (max-width: @tablet-breakpoint) {
    padding: 20px 0;
  }
      
}

// Button outline
.button--outline {
  border: 2px solid #f0f0f0;
  border-radius: @border-radius-base;
  background-color: transparent;
  &:hover,
  &:focus {
    color: @color-brand-primary;
    background-color: transparent;    
  }
}

// Button behaves as link
.button--link {
  color: @color-link;
  text-decoration: underline;
  border: 0;
  background: transparent;
  padding: 0;
  &:hover { text-decoration: none; }
  &:active { outline: 0; }
}

.disabled {
  pointer-events: none;
  opacity: .5;
}