.page-footer__wrapper
	footer#page-footer.page-footer
		.container
			.row
				.col-12.col-tablet-3

					figure.page-logo-footer
						a(href="index.html")
							img(src="assets/images/logo.svg", width="140", height="42", alt="Dgraph Logo")

				.col-4.col-tablet-2
						nav.page-footer-nav
							h6.page-footer-nav__title Company
							ul.page-footer-nav__list
								li.page-footer-nav__item
									a(href="about.html" title="Learn more about us").page-footer-nav__link About
								li.page-footer-nav__item
									a(href="careers.html" title="See open positions").page-footer-nav__link Careers
								li.page-footer-nav__item
									a(href="contact.html" title="How can you reach us").page-footer-nav__link Contact
								li.page-footer-nav__item
									a(href="https://wiki.dgraph.io/Beginners_Guide#Installation", title="Download Dgraph." target="_blank").page-footer-nav__link.page-footer-nav__link--download.link-alias Download

				.col-4.col-tablet-2
						nav.page-footer-nav
							h6.page-footer-nav__title Community
							ul.page-footer-nav__list
								li.page-footer-nav__item
									a(href="https://open.dgraph.io" title="Thoughts on usage of graph database." target="_blank").page-footer-nav__link.link-alias Blog
								li.page-footer-nav__item
									a(href="https://wiki.dgraph.io" title="Discuss about Dgraph with us." target="_blank").page-footer-nav__link.link-alias Documentation
								li.page-footer-nav__item
									a(href="https://github.com/dgraph-io/dgraph" alt="Dgraph on Github" title="We are on GitHub, check it out." target="_blank").page-footer-nav__link.link-alias GitHub
								li.page-footer-nav__item
									a(href="https://discuss.dgraph.io/" title="Discuss about Dgraph with us." target="_blank").page-footer-nav__link.link-alias Discuss
								li.page-footer-nav__item
									a(href="https://slack.dgraph.io/" title="Slack about Dgraph with us." target="_blank").page-footer-nav__link.link-alias Slack

				.col-4.col-tablet-2
						nav.page-footer-nav
							h6.page-footer-nav__title Connect
							ul.page-footer-nav__list
								li.page-footer-nav__item
									a(href="https://twitter.com/dgraphlabs", title="Follow us on Twitter" target="_blank").page-footer-nav__link.link-alias Twitter
								li.page-footer-nav__item
									a(href="https://angel.co/dgraph-labs", title="Dgraph on Angel List" target="_blank").page-footer-nav__link.link-alias Angel List

			.row
				.col-12
					span.imprint__copyrights Copyright &copy; 2016 Dgraph Labs, Inc.
	// / page-footer
// / page-footer__wrapper
