header#page-header.page-header.page-header--animated
	.container
		.row
			.col-12.col-desktop-4
				figure.page-logo
					a: img(src="http://placehold.it/263x39/fff", width="263", height="39", alt="")
			.col-12.col-desktop-8
				nav.page-nav
					ul.page-nav__list
						li.page-nav__item
							a(href="#" title="").page-nav__link Services
						li.page-nav__item
							a(href="#" title="").page-nav__link Work
						li.page-nav__item
							a(href="#" title="").page-nav__link Our Products
						li.page-nav__item
							a(href="#" title="").page-nav__link About
						li.page-nav__item
							a(href="#" title="").page-nav__link Blog
						li.page-nav__item
							a(href="#" title="").page-nav__link Contact
						li.page-nav__item
							a(href="#" title="").page-nav__link.button-project Start a Project
			a(href="javascript:void(0)", title="Site Navigation")#page-nav-button.button.page-nav-button Menu

// / page-header